* {
    box-sizing: border-box;
    border: 1px solid red;
    margin: 0 auto;

}

header {
    text-align: center;
    margin: 50px;
}

h1 {
    font-size: 5rem;
}

body {
    max-width: 80%;
    margin: 0 auto;
}

main {}

.game-section {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

.playerOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    border: 1px solid black;
    height: 150px;
    width: 150px;
    background-color: white;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
    max-width: 456px;
    background-color: black;
}

.result-section {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-section h2 {
    font-size: 2.5rem;
}

.before-game {
    color: transparent;
}

.after-game {
    color: black;
}

.symOne {
    background-color: green;
}

.symTwo {
    background-color: red;
}